<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" parallel="tests" thread-count="2">
  <test name="ChromebrowserTest" >
    <parameter name="browser" value="chrome"/>
    <classes>
       <class name="com.ParallelTesting.ParallelTest" />
      
    </classes>
  </test>
  <test name="FirefoxbrowserTest" >
    <parameter name="browser" value="firefox"/>
    <classes>
       <class name="com.ParallelTesting.ParallelTest" />
      
    </classes>
  </test>
 
  
</suite>
